@font-face {
    font-family: 'Viki';
    src: url('VikiRegular.eot');
    src: url('VikiRegular.eot?#iefix') format('embedded-opentype'),
        url('VikiRegular.woff2') format('woff2'),
        url('VikiRegular.woff') format('woff'),
        url('VikiRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

